@model SportsStore.WebUI.Models.AccountLoginViewModel

@{
    ViewBag.Title = "Logowanie";
    Layout = "../Shared/_AccountLayout.cshtml";
}

<h2>Logowanie</h2>

@Html.ValidationSummary()
@using (Html.BeginForm("Login"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ReturnUrl)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-inline">
        <button class="btn btn-primary" type="submit">Zaloguj</button>
        @Html.ActionLink("Utwórz konto", "Create", "Accounts", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-default" })
    </div>
}
