@model SportsStore.WebUI.Models.ShippingInformationViewModel

@{
    ViewBag.Title = "Wysyłka";
}

<h2>Wysyłka</h2>
<p>Proszę podać swoje dane, a towar zostanie natychmiast wysłany!</p>

@using (Html.BeginForm("Checkout", "Cart"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <h3>Wysyłka dla:</h3>

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type="email" })
    </div>

    @Html.Partial("_Address", Model.Address)

    <h3>Opcje</h3>
    <div class="form-group">
        @Html.CheckBoxFor(m => m.GiftWrap)
        @Html.LabelFor(m => m.GiftWrap)
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Zakończ zamówienie" />
    </div>
}
